<%- include('partials/header.ejs');%>

 
      
   
<div id="landing-header">
  <h1 style="color:bisque">Welcome to ThePoetryWorld!</h1>
  <p>Post Your favourite Poetry....</p>
  <a href="/poetry" class="btn btn-lg btn-success">View All Poetry</a>
  </div>
  
  <ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>

      <!-- <div class="divi">
          <h1>Poetry</h1>
           
           <a href="/poetry">View some Poetry</a>
       <hr width="25%">
      </div> -->
      <p>TradeMark @Nikhilsain</p>
 </div>     

 




 
  <%- include ('partials/footer.ejs'); %>

    