<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
         <title>Transparent Login Form</title>
          <link rel="stylesheet" href="style.css">
     <body> 
      <meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="login-box">  

       <h1>Login!</h1>
       
<form action="/login" method="POST">
    
   <div class="textbox"> 
    <i class="fa fa-user" aria-hidden="true"></i><input type="text" name="username" placeholder="username"> </div>
    
  <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i> <input type="password" name="password" placeholder="password"> </div>
    <input class="btn" type="submit" value="Sign in">

</form>
<h2>don't have an account?</h2>
<a href="/register" class="btn btn-primary" style="background-color: blue;">Sign up </a>

   </div>
     </body>