
<%- include('partials/header.ejs');%>
<div class="container">
<div class="container">
    <header class="jumbotron" style="color:goldenrod; text-align: center;">
      <h1>Create a New Poem!!!</h1>
    </header>
</div>
<script>
    function colorbg(){
        var x = document.getElementById("scripts");
        var bgcolor = x.options[x.selectedIndex].value;
        
        
         document.getElementById("form").style.backgroundImage =  "url('" + bgcolor + "')";;
         document.getElementById("default").value = bgcolor;
  }
</script>
<select id="scripts" style="margin-left: 140px;">
    
    <option value=https://image.freepik.com/free-vector/abstack-background-cartoon-style-bigbamm-sunlight_68708-513.jpg  >Please choose</option>
    <option  value= https://images.all-free-download.com/images/graphicthumb/nostalgic_paper_picture_series_26_169273.jpg>mast..</option>
    <option value=  https://www.itl.cat/pngfile/big/204-2046747_photo-wallpaper-flowers-branches-background-pink-mothers-day.jpg>flowery</option>
    <option value= https://i.pinimg.com/236x/91/ed/3d/91ed3d22e4fa42777b24889121464eb5--free-paper-texture-paper-background.jpg>salty</option>
    <option value= https://cdn.hipwallpaper.com/i/70/36/qT3LyV.jpg>Yellowish</option>
    
</select> <br>
<button onclick="colorbg()" style="margin-left: 140px; margin-top: 5px;">Change the theme</button>

<form action="/poetry" method="POST">
   
    
   
    <p ><label for="form" ><h3> Poem Writing...</h3></label>
        <textarea id="form" name="Poem" style="background-color: whitesmoke; color:black;resize: none; font-weight: 700; height: 300px; width: 300px;margin: 20px auto 20px auto;" maxlength="80"  placeholder="Something in your Creative Mind"></textarea>
    </p>
        
    <input type="text" id = "default" name = "bgcolor" style="display: none;">

        <!-- <input type="reset" value="Reset" class="btn btn-danger" style="margin-bottom: 30px;"> -->
    <input type="submit" class="btn btn-success" style="margin-left: 30px; margin-bottom: 30px;">
</form>
</div>
<%- include('partials/footer.ejs');%>