
<%- include('partials/header.ejs');%>
<div class="container">
<div class="container">
    <header class="jumbotron" style="color:goldenrod; text-align: center;">
      <h1>Create a New Poem!!!</h1>
    </header>
</div>
<script>
    function colorbg(){
        var x = document.getElementById("scripts");
        var bgcolor = x.options[x.selectedIndex].value;
        
         document.getElementById("form").style.backgroundImage =  "url('" + bgcolor + "')";;
         document.getElementById("default").value = bgcolor;
  }
</script>
<select onclick="colorbg()" id="scripts" style="margin-left: 140px;">
    
    <option value="">change theme</option>
    <option  value= https://images.all-free-download.com/images/graphicthumb/nostalgic_paper_picture_series_26_169273.jpg>handable</option>
    <option value= https://storage.needpix.com/rsynced_images/flowers-3956074_1280.jpg>flowery</option>
    <option value= https://st3.depositphotos.com/13324256/19066/i/450/depositphotos_190668064-stock-photo-carpentry-template-peach-wooden-planks.jpg>salty</option>
    <option value= https://i.pinimg.com/236x/90/06/7e/90067eb9a0326b5a2fbf959d09bb0c17--orange-wallpaper-iphone-wallpaper.jpg>Yellowish</option>
    
</select> <br>


<form action="/poetry" method="POST">
   
    
   
    <p ><label for="form" ><h3> Poem Writing...</h3></label>
        <textarea id="form"  name="Poem"  style="background-color: whitesmoke;; color:black;resize: none; font-weight: 700;margin: 20px auto 20px auto;"  maxlength="240"  placeholder="Something in your Creative Mind" required></textarea>
    </p>
        
    <input type="text" id = "default" name = "bgcolor" style="display: none;">

        <!-- <input type="reset" value="Reset" class="btn btn-danger" style="margin-bottom: 30px;"> -->
    <input type="submit" class="btn btn-success" style="margin-left: 30px; margin-bottom: 30px;">
</form>
</div>
<%- include('partials/footer.ejs');%>